/* .Main > table {
	margin:50px auto;
    width: 150px;
}

.Main Table, .Main th, .Main td{
    border:1px solid;
    border-collapse: collapse;
    padding: 10px;
    width: 70%;

}

.Main tr:nth-child(even){
    background-color: lightblue;
}

.Main tr:nth-child(odd){
    background-color: lightgreen;

}

.Main thead tr:first-child{
    background-color: lightgray;
    width: 70%;

} */